.elenco-utenti {
    background-color: rgb(255, 255, 255);
    margin-left: 210px;
    margin-top: 65px;
    list-style: none;
    }
    
    .elenco-utenti li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    }
    
    .immagine-utente img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border-style: groove;
    }
    
    .dettagli-utente {
    color: #000;
    font-size: 20px;
    margin-left: 50px;
    }
    
    hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
    }
    
    h4 {
    color: #383838;
    font-size: 14px;
    font-weight: normal;
    }
    
    .button img {
    width: 30px;
    margin-left: 10px;
    }
    
    .button {
    position: absolute;
    display: flex;
    right: 40px;
    align-items: center;
    }
    
    .button div {
    text-align: center;
    }
    
    @media only screen and (max-width: 811px) {
    .elenco-utenti {
    margin-left: 0;
    }
    }