#card {
   margin-left: 200px;
   margin-top: 100px;
   background-color: #fff;
    max-width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #card label {
    display: block;
    margin-bottom: 10px;
  }
  
  #card input[type="text"],
  #card input[type="email"],
  #card input[type="number"] {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #card button {
    margin: 20px auto 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;

  }
  
  #card button:hover {
    background-color: #0069d9;
  }
  
  @media only screen and (max-width: 811px) {
    #card {
      margin: 70px 20px 0;
    }
  }
hr{
    border-color: rgba(197, 197, 197, 0.568) !important;
}