table{
    background-color: rgb(255, 255, 255);
    margin-left: 220px;
    margin-top: 70px;
    width: 87%;
    border-collapse: collapse;
    margin-bottom: 20px;

}
th,td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgb(194, 194, 194);
}
tr img{
    width: 30px;
}
@media only screen and (max-width:811px) {

    table{

        margin-left: 0px;
        width: 100%;
    }
  }
  #add{
    position: absolute;
    right: 10px;
    top: 40px;
  }
  .aggiungi-movimenti {
    display: inline-block;
    background-color: #2b2b2b; /* colore di sfondo */
    color: white; /* colore del testo */
    border-radius: 4px; /* bordi arrotondati */
    border: none; /* rimuove il bordo */
    padding: 12px 24px; /* padding interno al tasto */
    font-size: 16px; /* dimensione del testo */
    cursor: pointer; /* indica il cursore al passaggio del mouse */
    text-align: center; /* centra il testo all'interno del tasto */
    text-decoration: none; /* rimuove il sottolineato */
    margin: 20px 0; /* margine superiore e inferiore */
  }
  
  .aggiungi-movimenti:hover {
    background-color: #4a4a4a; /* colore di sfondo al passaggio del mouse */
  }